<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.QuestionnaireVMMapper">
	<select id="selectAll" resultMap="QuestionnaireVMResultMap">
		select * from poll_questionnaire
	</select>
<select id="selectById"  resultMap="QuestionnaireVMResultMap">
		select * from poll_questionnaire where id=#{id}
	</select>
	 <select id="query" resultMap="QuestionnaireVMResultMap">
 		select * from poll_questionnaire where name like "%"#{name}"%"
   </select>
	<!-- 定义结果集 -->
	<resultMap id="QuestionnaireVMResultMap"
		type="com.briup.apps.poll.bean.extend.QuestionnaireVM">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		
		<collection column="id" property="questions" javaType="ArrayList"
			ofType="com.briup.apps.poll.bean.extend.QuestionVM"
			 select="com.briup.apps.poll.dao.extend.QuestionVMMapper.slectAllQuestion">
		</collection>
	</resultMap>

	<select id="selectAllquestionnaireVM" parameterType="long" resultMap="QuestionnaireVMResultMap">
		select * from poll_questionnaire where id=#{id}
	</select>
</mapper>